<section class="flex h-screen items-center justify-center" id="contact">
	<div class="h-full m-4">
		<div class="flex flex-col h-[95%] justify-center space-y-12">
			<h2 class="font-bold text-4xl text-center">Contacto</h2>
			<p class="text-lg text-center">Hoy en día me encuentro en busca de mi primer empleo IT, y si estas interesad@ en contactarme te dejo los siguientes medios!</p>
			<div class="flex flex-row justify-center space-x-8 w-full">
				<a class="duration-300 flex flex-row items-center space-x-2 text-lg text-slate-400 hover:text-current" href="mailto:guidosabik1@gmail.com" id="mailLogo"  rel="noreferrer" target="_blank">
					<i class="fa-solid fa-envelope h-8"/>
					<p class="hidden sm:block">guidosabik1@gmail</p>
				</a>
				<a class="duration-300 flex flex-row items-center space-x-2 text-lg text-slate-400 hover:text-current" href="https://www.linkedin.com/in/guido-sabik/" rel="noreferrer" target="_blank">
					<i class="fa-brands fa-linkedin h-8"/>
					<p class="hidden sm:block">Guido Sabik</p>
				</a>
				<a class="duration-300 flex flex-row items-center space-x-2 text-lg text-slate-400 hover:text-current" href="https://github.com/gsabik" rel="noreferrer" target="_blank">
					<i class="fa-brands fa-github h-8"/>
					<p class="hidden sm:block">gsabik</p>
				</a>
			</div>
		</div>
		<div class="text-center">
			<p>Desarrollado con <a class="duration-300 font-semibold text-slate-400 hover:text-current" href="https://astro.build/" target="_blank">@Astro</a> y <a class="duration-300 font-semibold text-slate-400 hover:text-current" href="https://tailwindcss.com/" target="_blank">@Tailwind CSS</a></p>
		</div>
	</div>
</section>