---
import { projects } from "../data/projects";
import ProjectCard from "./ProjectCard.astro";
---

<section class="flex items-center justify-center" id="projects">
	<div class="container m-4">
		<div class="flex flex-col">
			<h2 class="font-bold text-4xl">Proyectos</h2>
			<div class="grid grid-cols-12 gap-14 pt-10">
				{
					projects.map(project => <ProjectCard {...project}/>)
				}
			</div>
			<div class="flex justify-center pt-10 w-full">
				<a class="border-2 border-white font-semibold px-6 py-2 rounded-md hover:cursor-pointer" href="https://github.com/gsabik?tab=repositories" target="_blank">Ver más</a>
			</div>
		</div>
	</div>
</section>