<section class="flex flex-col items-center justify-center py-[10rem] snap-center" id="skills">
	<div class="m-4">
		<div class="flex flex-col">
			<h2 class="font-bold text-4xl">Skills</h2>
			<p class="text-lg pt-10">Este último tiempo me estuve enfocando en la librería de <a class="duration-300 font-semibold text-slate-400 transition-colors hover:text-slate-300" href="https://es.reactjs.org/" target="_blank">@React JS</a>, aunque estoy en aprendizaje constante de nuevas tecnologías y herramientas. Otros conocimientos que tengo son los siguientes:</p>
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-10 pt-10">
				<div class="space-y-2">
					<h3 class="text-2xl text-slate-400">Lenguajes de programación</h3>
					<li class="list-none space-y-2">
						<ul>JavaScript</ul>
						<ul>Python</ul>
					</li>
				</div>
				<div class="space-y-2">
					<h3 class="text-2xl text-slate-400">Backend como servicio (BaaS)</h3>
					<li class="list-none space-y-2">
						<ul>Firebase</ul>
					</li>
				</div>
				<div class="space-y-2">
					<h3 class="text-2xl text-slate-400">Desarrollo frontend</h3>
					<li class="list-none space-y-2">
						<ul>HTML</ul>
						<ul>CSS/SASS</ul>
						<ul>Tailwind CSS</ul>
						<ul>React Router</ul>
						<ul>Chakra UI</ul>
						<ul>Astro</ul>
					</li>
				</div>
				<div class="space-y-2">
					<h3 class="text-2xl text-slate-400">Herramientas</h3>
					<li class="list-none space-y-2">
						<ul>GIT</ul>
						<ul>GitHub</ul>
						<ul>Postman</ul>
						<ul>ESlint</ul>
					</li>
				</div>
			</div>
			<p class="duration-300 leading-loose pt-10 text-lg text-slate-400 transition-colors hover:text-slate-300 underline underline-offset-8">Actualmente aprendiendo <a class="font-semibold" href="https://nextjs.org/" target="_blank">@Next.js</a> y <a class="font-semibold" href="https://www.typescriptlang.org/" target="_blank">@TypeScript</a></p>
		</div>
	</div>
</section>